body {
	font-family: 'Work Sans', sans-serif;
	color: rgb(75, 74, 74);
	margin-left: 20px;
	margin-top: 20px;
}

h1 {
	background-color: rgba(236, 100, 75, 1);
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Text', serif;
}

li a {
	color: rgba(75, 74, 74, 0.5);
}

li::marker {
	content: counter(list-item) '› ';
	color: hotpink;
}

li a:hover {
	color: rgb(75, 74, 74);
}

.button {
	margin-top: 10px;
}

.li-list {
	color: rgba(75, 74, 74, 0.5);
}

.li-list:hover {
	color: rgb(75, 74, 74);
	text-decoration: none;
}

.go-back-btn {
	font-style: italic;
	margin-top: 10px;
}

.home-btn {
	color: rgba(75, 74, 74, 0.5);
}
.home-btn:hover {
	color: rgb(75, 74, 74);
	text-decoration: none;
}

.username {
	font-size: 2rem;
	font-family: 'Crimson Text', serif;
}

.card {
	border: none;
}

img {
	background-color: rgba(236, 100, 75, 1);
	border-radius: 40px;
	padding: 5px;
}

.form-check {
	background-color: pink;
}
