<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css" />
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet" />
		<link rel="stylesheet" href="/static/app.css" />
		<title>Post Details</title>
	</head>
	<body>
		<h1>{{post.title}}</h1>

		<div class="col-md-4">
			<p>{{post.content}}</p>
		</div>
		<div class="col-md-4">
			<p><i>by {{post.user.full_name}}</i></p>
		</div>
		<div class="col-md-4">
			<!-- ADDED ########################## -->
			{% if post.tags %}
			<p>
				<b>Tags:</b>
				{% for tag in post.tags %}
				<a href="/tags/{{tag.id}}"><i class="badge badge-primary">{{tag.name}}</i></a>
				{% endfor %}
			</p>
			{% endif %}
		</div>
		<!-- ADDED ########################## -->
		<form>
			<div class="col-12 button">
				<button class="btn btn-secondary" formaction="/users/{{post.user_id}}">Go Back</button>
				<button class="btn btn-secondary" formaction="/posts/{{post.id}}/edit">Edit</button>
				<button class="btn btn-secondary" formmethod="POST" formaction="/posts/{{post.id}}/delete">Delete</button>
			</div>
		</form>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</body>
</html>
